@using FamilyHealthCare.Customer.Models;
@model SearchViewModel
@{ 
    ViewData["Title"] = "Searching";
    var resultCount = ViewBag.resultCount;
    var keyword = ViewBag.keyword;
}
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">@ViewData["Title"]	<span class="text-small text-white ms-2"> <b>@keyword</b></span></h2>
            </div>
        </div>
    </div>
</div>

<!-- Page Content -->
@*<div class="content">
    <div class="container-fluid">*@

        <div class="row">
            <div class="col-md-5 col-lg-3 col-xl-3 theiaStickySidebar">

                <!-- Search Filter -->
                <div class="card search-filter">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Filter</h4>
                    </div>
                    <div class="card-body">
                        <form asp-controller="Home" asp-action="Search" method="post">
                            <div class="filter-widget">
                                <h4>Categories</h4>
                                @for (int i = 0; i < Model.FilterCates.Count; i++)
                                {
                                    <div>
                                        <label class="custom_check">
                                            <input type="checkbox" value="@Model.FilterCates[i].Name" name="FilterCates" checked="@Model.FilterCates[i].IsSelected">
                                            <span class="checkmark"></span> @Model.FilterCates[i].Name
                                        </label>
                                    </div>
                                }
                                <input name="Search" hidden value="@keyword" />
                            </div>
                            <div class="btn-search">
                                <button type="submit" class="btn w-100">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /Search Filter -->

            </div>

            <div class="col-md-7 col-lg-9 col-xl-9">

                <div class="row align-items-center pb-3">
                    <div class="col-md-4 col-12 d-md-block d-none custom-short-by">
                        <h3 class="title pharmacy-title">@keyword</h3>
                        @*<p class="doc-location mb-2 text-ellipse pharmacy-location"><i class="fas fa-map-marker-alt me-1"></i> 96 Red Hawk Road Cyrus, MN 56323 </p>*@
                        @if (Model.SearchMedicineDtos.Count != 0 && Model.SearchMedicineDtos.Count > 6)
                        {
                            <span class="sort-title">Showing 6 of @resultCount products</span>
                        }
                        else if (Model.SearchMedicineDtos.Count < 6)
                        {
                            <span class="sort-title">Showing @resultCount products</span>
                        }
                    </div>
                    <div class="col-md-8 col-12 d-md-block d-none custom-short-by">
                        <div class="sort-by pb-3">
                            <span class="sort-title">Sort by</span>
                            <span class="sortby-fliter">
                                <select class="form-select">
                                    <option>Select</option>
                                    <option class="sorting">Rating</option>
                                    <option class="sorting">Popular</option>
                                    <option class="sorting">Latest</option>
                                    <option class="sorting">Free</option>
                                </select>
                            </span>
                        </div>
                    </div>
                </div>
                @if (Model.SearchMedicineDtos.Count != 0)
                {
                    <div class="row">
                        @foreach (var medicine in Model.SearchMedicineDtos)
                        {
                            <div class="col-md-12 col-lg-4 col-xl-4 product-custom">
                                <div class="profile-widget">
                                    <div class="doc-img">
                                        <a href="product-description.html" tabindex="-1">
                                            <img class="img-fluid" alt="Medicine image" src="~/assets/img/products/product.jpg">
                                        </a>
                                        <a href="javascript:void(0)" class="fav-btn" tabindex="-1">
                                            <i class="far fa-bookmark"></i>
                                        </a>
                                    </div>
                                    <div class="pro-content">
                                        <h3 class="title pb-4">
                                            <a href="product-description.html" tabindex="-1">@medicine.MedicineName</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                    <div class="col-md-12 text-center">
                        <a href="#" class="btn book-btn1 mb-4">Load More</a>
                    </div>
                }
                else
                {
                    <h4>There are no results for searching @keyword</h4>
                }

            </div>
        </div>
    @*</div>
</div>*@