@using System.Security.Claims
@using Contract.DTOs.NotificationServiceDtos
@using IdentityModel
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using FamilyHealthCare.SharedLibrary;
@using FamilyHealthCare.Customer.Models
@using Newtonsoft.Json
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor _httpContextAccessor
@{
    var userId = _httpContextAccessor.HttpContext.User?.FindFirstValue(ClaimTypes.NameIdentifier);
    var userName = User.FindFirst(ClaimTypes.Name)?.Value;
    //var idBlockedSession = _httpContextAccessor.HttpContext.Session.GetString("blocked-account");
    //var isBlockedAccount = false;
    //if (idBlockedSession != null)
    //{
    //    if (idBlockedSession == "true") isBlockedAccount = true;
    //}
    //else
    //{
    //    if(User.FindFirst(JwtClaimTypes.Confirmation)?.Value == "false")
    //    {
    //        isBlockedAccount = true;
    //    }
    //}
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <title>@ViewData["Title"] - Family Health Care</title>
    <!-- Favicons -->
    <link type="image/x-icon" href="@Url.Content("~/assets/img/favicon.png")" rel="icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap.css")">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href=@Url.Content("~/assets/plugins/fontawesome/css/fontawesome.min.css")>
    <link rel="stylesheet" href=@Url.Content("~/assets/plugins/fontawesome/css/all.min.css")>

    <!-- Main CSS -->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/style.css")">

</head>
<body>
    @*@if (User.Identity.IsAuthenticated && isBlockedAccount)
        //{
        //    <div class="modal fade bd-example-modal-lg" id="modal-deactivate" data-backdrop="static" data-keyboard="false" tabindex="-1">
        //        <div class="modal-dialog modal-sm">
        //            <div class="modal-content" style="width: 48px">
        //                <div class="modal-header">
        //                    <h5 class="modal-title">Your account has been locked by the administrator!</h5>
        //                    <a class="close" asp-controller="Account" asp-action="SignIn">
        //                        Ok
        //                    </a>
        //                </div>
        //            </div>
        //        </div>
        //    </div>
        //    <script>
        //        console.log("asdasd")
        //    </script>
        }*@
    <div class="main-wrapper">
        <header class="header">

            <nav class="navbar navbar-expand-lg header-nav">
                <div class="navbar-header">
                    <a id="mobile_btn" href="javascript:void(0);">
                        <span class="bar-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </a>
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand logo">
                        <img src=@Url.Content("~/assets/img/LogoFHC.png") class="img-fluid" alt="Logo">
                    </a>
                </div>
                <div class="main-menu-wrapper">
                    <div class="menu-header">
                        <a href="index.html" class="menu-logo">
                            <img src=@Url.Content("~/assets/img/logo.png") class="img-fluid" alt="Logo">
                        </a>
                        <a id="menu_close" class="menu-close" href="javascript:void(0);">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                    <ul class="main-nav">
                        <li class="has-submenu ">
                            <a asp-controller="Home" asp-action="Index">Home </a>

                        </li>
                        <li class="has-submenu">
                            <a href="">Common <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li class="">
                                    <a href="@Url.Action("Index","Pharmacy")">Medicine </a>
                                </li>
                                <li class="has-submenu">
                                    <a href="#">Doctors</a>
                                    <ul class="submenu">
                                        <li><a href="@Url.Action("DoctorMapList","Doctor")">Doctor Map List</a></li>
                                        <li><a href="@Url.Action("Search","Doctor")">Booking Doctor</a></li>
                                    </ul>
                                </li>
                                <li class="has-submenu">
                                    <a href="#">Pharmacy</a>
                                    <ul class="submenu">
                                        <li><a href="@Url.Action("Index","Pharmacy")">Pharmacy List</a></li>
                                    </ul>
                                </li>
                                <li><a href="healthcheck.html">Health Check </a></li>

                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="">Partner <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="@Url.Action("PharmacyRegister","Partner")">Pharmacy Register</a></li>
                                <li><a href="@Url.Action("DoctorRegister","Partner")">Doctor Register</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="">Pages <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="contact-us.html">Contact Us</a></li>
                            </ul>
                        </li>
                        <li><a href="blog-list.html">Blog </a></li>
                    </ul>


                </div>

                <ul class="nav header-navbar-rht">
                    <li class="nav-item contact-item">
                        <div class="header-contact-detail">
                            <div class="card-body">
                                <form class="search-form" asp-controller="Home" asp-action="Search" method="post">
                                    <div class="input-group">
                                        <input type="text" placeholder="Search..." class="form-control" name="Search" required maxlength="50">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item">
                        @*<a class="nav-link header-login" href="login.html">login / Signup </a>*@
                        @if (User.Identity.IsAuthenticated)
                        {
                            <ul class="nav user-menu">
                                <!-- Notifications -->
                                @await Component.InvokeAsync("Notification")
                                <!-- /Notifications -->
                            </ul>
                            <!--<li class="nav-item dropdown has-arrow logged-item">
                            <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                                <span class="user-img">-->
                            @*<img class="rounded-circle" src="@(ImageConstants.PATIENTS+Model.patientInfo.Avatar)" width="31" alt="Ryan Taylor">*@
                            <!--<img class="rounded-circle" src="~/assets/img/patients/patient.jpg" width="31" alt="Ryan Taylor">
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <div class="user-header">
                                    <div class="avatar avatar-sm">-->
                            @* <img src="@(ImageConstants.PATIENTS+Model.patientInfo.Avatar)" alt="User Image" class="avatar-img rounded-circle">*@
                            <!--<img src="~/assets/img/patients/patient.jpg" alt="User Image" class="avatar-img rounded-circle">
                                        </div>
                                        <div class="user-text">
                                            <h6>@User.Identity.Name</h6>
                                            <p class="text-muted mb-0">Patient</p>
                                        </div>
                                    </div>
                                    <a class="dropdown-item" href="patient-dashboard.html">Dashboard</a>
                                    <a class="dropdown-item" asp-controller="Appointment" asp-action="Index">Appointments</a>
                                    <a class="dropdown-item" asp-controller="Account" asp-action="ProfileSetting">Profile Settings</a>
                                    <a class="dropdown-item" asp-controller="Schedule" asp-action="Calendar">Calendar</a>
                                    <a class="dropdown-item" asp-controller="Account" asp-action="ChangePassword">Change Password</a>
                                    <a class="dropdown-item" asp-controller="Account" asp-action="SignOut">Logout</a>
                                </div>
                            </li>-->
                            @await Component.InvokeAsync("Profile")
                        }
                        else
                        {
                            <a class="nav-link header-login" asp-controller="Account" asp-action="SignIn">Log In / Sign Up</a>
                        }
                    </li>
                    <li class="dropdown language-select">
                        <span class="dropdown-toggle" id="language-dropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false" role="button"><img src=@Url.Content("~/assets/img/vietnam.png") alt="flag"> Việt Nam</span>
                        <div class="dropdown-menu dropdown-menu" aria-labelledby="language-dropdown">
                            <a class="dropdown-item" href="#"><img src=@Url.Content("~/assets/img/united-kingdom.png") alt="flag"> English</a>
                        </div>
                    </li>
                </ul>

            </nav>
        </header>
        @RenderBody()
        <div class="float-contact">
            <div style="line-height: 45px">
                <div>
                    <a href="http://facebook.com">
                        <img src="~/assets/img/messenger.png" alt="" />
                    </a>
                </div>
                <div>
                    <a href="tel:0989999898">
                        <img src="~/assets/img/hotline.png" alt="" />
                    </a>
                </div>
            </div>
        </div>


        <!-- Footer -->
        @if (Convert.ToBoolean(ViewData["MapList"]) != true)
        {
            <footer class="footer">

                <!-- Footer Top -->
                <div class="footer-top">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">

                                <!-- Footer Widget -->
                                <div class="footer-widget footer-about">
                                    <div class="footer-logo">
                                        <img src=@Url.Content("~/assets/img/footer-logo.png") alt="logo">
                                    </div>
                                    <div class="footer-about-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                        <div class="social-icon">
                                            <ul>
                                                <li>
                                                    <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Footer Widget -->

                            </div>

                            <div class="col-lg-3 col-md-6">

                                <!-- Footer Widget -->
                                <div class="footer-widget footer-menu">
                                    <h2 class="footer-title">For Pharmacy</h2>
                                    <ul>
                                        <li><a href="map-list.html">Search Pharmacy</a></li>
                                    </ul>
                                </div>
                                <!-- /Footer Widget -->

                            </div>

                            <div class="col-lg-3 col-md-6">

                                <!-- Footer Widget -->
                                <div class="footer-widget footer-menu">
                                    <h2 class="footer-title">For Doctors</h2>
                                    <ul>
                                        <li><a href="doctor-search.html">Booking Doctor</a></li>
                                        <li><a href="map-grid.html">Search Doctor</a></li>
                                    </ul>
                                </div>
                                <!-- /Footer Widget -->

                            </div>

                            <div class="col-lg-3 col-md-6">

                                <!-- Footer Widget -->
                                <div class="footer-widget footer-contact">
                                    <h2 class="footer-title">Contact Us</h2>
                                    <div class="footer-contact-info">
                                        <div class="footer-address">
                                            <span><i class="fas fa-map-marker-alt"></i></span>
                                            <p> Team 12 <br> Van Lang university </p>
                                        </div>
                                        <p>
                                            <i class="fas fa-phone-alt"></i>
                                            +123 456 789
                                        </p>
                                        <p class="mb-0">
                                            <i class="fas fa-envelope"></i>
                                            fhc@gmail.com
                                        </p>
                                    </div>
                                </div>
                                <!-- /Footer Widget -->

                            </div>

                        </div>
                    </div>
                </div>
                <!-- /Footer Top -->
                <!-- Footer Bottom -->
                <div class="footer-bottom">
                    <div class="container-fluid">

                        <!-- Copyright -->
                        <div class="copyright">
                            <div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <div class="copyright-text">
                                        <p class="mb-0">&copy; 2021 Team 12 FHC.</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6">

                                    <!-- Copyright Menu -->
                                    <!-- /Copyright Menu -->

                                </div>
                            </div>
                        </div>
                        <!-- /Copyright -->

                    </div>
                </div>
                <!-- /Footer Bottom -->

            </footer>
        }
        <!-- /Footer -->
        <!-- /Main Wrapper -->
        <!-- jQuery -->
        <script src=@Url.Content("~/assets/js/jquery-3.6.0.min.js")></script>

        <!-- Bootstrap Core JS -->
        <script src=@Url.Content("~/assets/js/bootstrap.bundle.min.js")></script>

        <!-- Sticky Sidebar JS -->
        <script src=@Url.Content("~/assets/plugins/theia-sticky-sidebar/ResizeSensor.js")></script>
        <script src=@Url.Content("~/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js")></script>

        <!-- Slick JS -->
        <script src=@Url.Content("~/assets/js/slick.js")></script>

        <!-- Custom JS -->
        <script src=@Url.Content("~/assets/js/script.js")></script>
        @await RenderSectionAsync("Scripts", required: false)
    </div>

    <div class="modal fade custom-modal" id="modal-deactivate" data-backdrop="static" data-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                </div>
                <div class="modal-body">
                    <p>Your account has been locked by the administrator!</p>
                </div>
                <div class="modal-footer">
                    <a asp-controller="Account" asp-action="SignOut">
                        <button type="button" class="btn btn-primary">Ok</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
