<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <title>@ViewData["Title"] - Family Health Care</title>
    <!-- Favicons -->
    <link type="image/x-icon" href="@Url.Content("~/assets/img/favicon.png")" rel="icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap.min.css")">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href=@Url.Content("~/assets/plugins/fontawesome/css/fontawesome.min.css")>
    <link rel="stylesheet" href=@Url.Content("~/assets/plugins/fontawesome/css/all.min.css")>

    <!-- Main CSS -->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/style.css")">
</head>

<body>
    @RenderBody()
    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
        <div class="header">


            <!-- Logo -->
            <div class="header-left">
                <a href="index.html" class="logo">
                    <img src=@Url.Content("~/assets/img/logo.png") alt="Logo">
                </a>
                <a href="index.html" class="logo logo-small">
                    <img src=@Url.Content("~/assets/img/logo-small.png") alt="Logo" width="30" height="30">
                </a>
            </div>
            <!-- /Logo -->

            <a href="javascript:void(0);" id="toggle_btn">
                <i class="fe fe-text-align-left"></i>
            </a>

            <div class="top-nav-search">
                <form>
                    <input type="text" class="form-control" placeholder="Search here">
                    <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>

            <!-- Mobile Menu Toggle -->
            <a class="mobile_btn" id="mobile_btn">
                <i class="fa fa-bars"></i>
            </a>
            <!-- /Mobile Menu Toggle -->
            <!-- Header Right Menu -->
            <ul class="nav user-menu">

                <!-- Notifications -->
                <li class="nav-item dropdown noti-dropdown">
                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <i class="fe fe-bell"></i> <span class="badge rounded-pill">3</span>
                    </a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span class="notification-title">Notifications</span>
                            <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                        </div>
                        <div class="noti-content">
                            <ul class="notification-list">
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media d-flex">
                                            <span class="avatar avatar-sm flex-shrink-0">
                                                <img class="avatar-img rounded-circle" alt="User Image" src="assets/img/doctors/doctor-thumb-01.jpg">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details"><span class="noti-title">Dr. Ruby Perrin</span> Schedule <span class="noti-title">her appointment</span></p>
                                                <p class="noti-time"><span class="notification-time">4 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media d-flex">
                                            <span class="avatar avatar-sm flex-shrink-0">
                                                <img class="avatar-img rounded-circle" alt="User Image" src=@Url.Content("~/assets/img/profiles/avatar-01.jpg")>
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details"><span class="noti-title">Charlene Reed</span> has booked her appointment to <span class="noti-title">Dr. Ruby Perrin</span></p>
                                                <p class="noti-time"><span class="notification-time">6 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media d-flex">
                                            <span class="avatar avatar-sm flex-shrink-0">
                                                <img class="avatar-img rounded-circle" alt="User Image" src=@Url.Content("~/assets/img/profiles/avatar-02.jpg")>
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details"><span class="noti-title">Travis Trimble</span> sent a amount of $210 for his <span class="noti-title">appointment</span></p>
                                                <p class="noti-time"><span class="notification-time">8 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media d-flex">
                                            <span class="avatar avatar-sm flex-shrink-0">
                                                <img class="avatar-img rounded-circle" alt="User Image" src=@Url.Content("~/assets/img/profiles/avatar-03.jpg")>
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details"><span class="noti-title">Carl Kelly</span> send a message <span class="noti-title"> to his doctor</span></p>
                                                <p class="noti-time"><span class="notification-time">12 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="#">View all Notifications</a>
                        </div>
                    </div>
                </li>
                <!-- /Notifications -->
                <!-- User Menu -->
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <span class="user-img"><img class="rounded-circle" src=@Url.Content("~/assets/img/profiles/avatar-01.jpg") width="31" alt="Ryan Taylor"></span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="user-header">
                            <div class="avatar avatar-sm">
                                <img src=@Url.Content("~/assets/img/profiles/avatar-01.jpg") alt="User Image" class="avatar-img rounded-circle">
                            </div>
                            <div class="user-text">
                                <h6>Ryan Taylor</h6>
                                <p class="text-muted mb-0">Administrator</p>
                            </div>
                        </div>
                        <a class="dropdown-item" href="profile.html">My Profile</a>
                        <a class="dropdown-item" href="settings.html">Settings</a>
                        <a class="dropdown-item" href="login.html">Logout</a>
                    </div>
                </li>
                <!-- /User Menu -->

            </ul>
            <!-- /Header Right Menu -->

        </div>

        <!-- /Header -->
        <!-- Sidebar -->
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">
                            <span>Main</span>
                        </li>
                        <li class="active">
                            <a href="index.html"><i class="fe fe-home"></i> <span>Dashboard</span></a>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fe fe-document"></i> <span> Medicines</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="products.html">Medicines</a></li>
                                <li><a href="add-product.html">Add Medicine</a></li>
                                <li><a href="outstock.html">Out-Stock</a></li>
                                <li><a href="expired.html">Returned</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fe fe-star-o"></i> <span> Prescription</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="purchase.html">Prescription</a></li>
                                <li><a href="add-prescription.html">Add Prescription</a></li>
                                <li><a href="edit-prescription.html">Edit Prescription</a></li>
                                <!-- <li><a href="order.html">Order</a></li> -->
                            </ul>
                        </li>
                        <li>
                            <a href="bookappointment.html"><i class="fe fe-layout"></i> <span>Appointment</span></a>
                        </li>
                        <li><a href="calendar.html"><i class="fe fe-table"></i> <span>Calendar</span></a></li>

                        <li>
                            <a href="profile.html"><i class="fe fe-user-plus"></i> <span>Profile</span></a>
                        </li>
                        <li class="has-submenu">
                            <a href="">Common <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li class="">
                                    <a href="product.html">Medicine </a>
                                </li>
                                <li class="has-submenu">
                                    <a href="#">Doctors</a>
                                    <ul class="submenu">
                                        <li><a href="map-list.html">Doctor Map List</a></li>
                                        <li><a href="doctor-search.html">Booking Doctor</a></li>
                                    </ul>
                                </li>
                                <li class="has-submenu">
                                    <a href="#">Pharmacy</a>
                                    <ul class="submenu">
                                        <li><a href="map-list.html">Pharmacy Map List</a></li>
                                        <li><a href="pharmacy-search.html">Booking Pharmacy</a></li>
                                    </ul>
                                </li>
                                <li><a href="healthcheck.html">Health Check </a></li>

                            </ul>
                        </li>


                        <li class="has-submenu">
                            <a href="">Pages <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="contact-us.html">Contact Us</a></li>
                        </li>
                        <li><a href="blog-list.html">Blog </a></li>

                    </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="">Partner <i class="fas fa-chevron-down"></i></a>
                        <ul class="submenu">
                            <li><a href="pharmacy-register.html">Pharmacy Register</a></li>
                            <li><a href="doctor-register.html">Doctor Register</a></li>
                        </ul>
                    </li>
                    </ul>
                </div>
                <ul class="nav header-navbar-rht">
                    <li class="nav-item contact-item">
                        <div class="header-contact-detail">
                            <div class="card-body">
                                <form class="search-form">
                                    <div class="input-group">
                                        <input type="text" placeholder="Search..." class="form-control">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header-login" href="login.html">login / Signup </a>
                    </li>
                    <li class="dropdown language-select">
                        <span class="dropdown-toggle" id="language-dropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false" role="button"><img src=@Url.Content("~/assets/img/vietnam.png") alt="flag"> Việt Nam</span>
                        <div class="dropdown-menu dropdown-menu" aria-labelledby="language-dropdown">
                            <a class="dropdown-item" href="#"><img src=@Url.Content("~/assets/img/united-kingdom.png") alt="flag"> English</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
                <div class="float-contact">
                    <ul style="line-height: 45px">
                        <div>
                            <a href="http://zalo.me/">
                                <img src="assets/img/zalo.png" alt="" />
                            </a>
                        </div>
                        <div>
                            <a href="http://facebook.com">
                                <img src="assets/img/messenger.png" alt="" />
                            </a>
                        </div>
                        <div>
                            <a href="tel:0989999898">
                                <img src="assets/img/hotline.png" alt="" />
                            </a>
                        </div>
                    </ul>
                </div>
            </main>
        </div>

        <!-- Footer -->
        <footer class="footer">

            <!-- Footer Top -->
            <div class="footer-top">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">

                            <!-- Footer Widget -->
                            <div class="footer-widget footer-about">
                                <div class="footer-logo">
                                    <img src=@Url.Content("~/assets/img/footer-logo.png") alt="logo">
                                </div>
                                <div class="footer-about-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                    <div class="social-icon">
                                        <ul>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /Footer Widget -->

                        </div>

                        <div class="col-lg-3 col-md-6">

                            <!-- Footer Widget -->
                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">For Pharmacy</h2>
                                <ul>
                                    <li><a href="pharmacy-search.html">Booking Pharmacy</a></li>
                                    <li><a href="map-list.html">Search Pharmacy</a></li>
                            </div>
                            <!-- /Footer Widget -->

                        </div>

                        <div class="col-lg-3 col-md-6">

                            <!-- Footer Widget -->
                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">For Doctors</h2>
                                <ul>
                                    <li><a href="doctor-search.html">Booking Doctor</a></li>
                                    <li><a href="map-grid.html">Search Doctor</a></li>
                                </ul>
                            </div>
                            <!-- /Footer Widget -->

                        </div>

                        <div class="col-lg-3 col-md-6">

                            <!-- Footer Widget -->
                            <div class="footer-widget footer-contact">
                                <h2 class="footer-title">Contact Us</h2>
                                <div class="footer-contact-info">
                                    <div class="footer-address">
                                        <span><i class="fas fa-map-marker-alt"></i></span>
                                        <p> Team 12 <br> Van Lang university </p>
                                    </div>
                                    <p>
                                        <i class="fas fa-phone-alt"></i>
                                        +123 456 789
                                    </p>
                                    <p class="mb-0">
                                        <i class="fas fa-envelope"></i>
                                        fhc@gmail.com
                                    </p>
                                </div>
                            </div>
                            <!-- /Footer Widget -->

                        </div>

                    </div>
                </div>
            </div>
            <!-- /Footer Top -->
            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="container-fluid">

                    <!-- Copyright -->
                    <div class="copyright">
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="copyright-text">
                                    <p class="mb-0">&copy; 2021 Team 12 FHC.</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">

                                <!-- Copyright Menu -->
                                <!-- /Copyright Menu -->

                            </div>
                        </div>
                    </div>
                    <!-- /Copyright -->

    </div>


    <!-- /Main Wrapper -->
    <!-- jQuery -->
    <script src=@Url.Content("~/assets/js/jquery-3.6.0.min.js")></script>

    <!-- Bootstrap Core JS -->
    <script src=@Url.Content("~/assets/js/bootstrap.bundle.min.js")></script>

    <!-- Slimscroll JS -->
    <script src=@Url.Content("~/assets/plugins/slimscroll/jquery.slimscroll.min.js")></script>

    <script src=@Url.Content("~/assets/plugins/raphael/raphael.min.js")></script>
    <script src=@Url.Content("~/assets/plugins/morris/morris.min.js")></script>
    <script src=@Url.Content("~/assets/js/chart.morris.js")></script>

    <!-- Custom JS -->
    <script src=@Url.Content("~/assets/js/script.js")></script>

</body>
</html>