@using Contract.DTOs.ManagementService;
@model IEnumerable<PharmacyDetailsDto>;
@using FamilyHealthCare.SharedLibrary;
@{
    var pharmacyCount = 1;
    ViewData["breadcumb-title"] = "Pharmacies";
}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="datatable table table-hover table-center mb-0">
                        <thead>
                            <tr>
                                <th>#Pharmacy ID</th>
                                <th>Pharmacy Name</th>
                                <th>Pharmacy Address</th>
                                <th>Phone</th>
                                <th>Pharmacy Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var pharmacy in Model)
                            {

                                <tr>
                                    <td>@(pharmacyCount++)</td>

                                    <td>
                                        <h2 class="table-avatar">
                                            <a asp-controller="Pharmacy" asp-action="DetailsPharmacy" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src=@(ImageConstants.PHARMACIES+pharmacy.Avatar) alt="User Image"></a>
                                            <a asp-controller="Pharmacy" asp-action="DetailsPharmacy">@pharmacy.PharmacyName</a>
                                        </h2>
                                    </td>

                                    <td>@pharmacy.Address</td>

                                    <td>@pharmacy.Phone</td>

                                    <td>
                                        <div class="status-toggle">
                                            @if (pharmacy.IsActive == true)
                                            {
                                                <input type="checkbox" data-accountId="@pharmacy.AccountId" data-IsActive="@pharmacy.IsActive" id="status_@pharmacyCount" class="check" checked>
                                            }
                                            else
                                            {
                                                <input type="checkbox" data-accountId="@pharmacy.AccountId" data-IsActive="@pharmacy.IsActive" id="status_@pharmacyCount" class="check">
                                            }
                                            <label for="status_@pharmacyCount" class="checktoggle">checkbox</label>
                                        </div>
                                    </td>
                                </tr>
                            }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/ChangeStatusAccount.js"></script>
 }
