@using Contract.DTOs.ManagementService;
@using FamilyHealthCare.SharedLibrary;
@model IEnumerable<DoctorDetailsDto>;
@{
    var doctorCount = 1;
    ViewData["breadcumb-title"] = "Doctors";
}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="datatable table table-hover table-center mb-0">
                        <thead>
                            <tr>
                                <th>Doctor ID</th>
                                <th>Doctor Name</th>
                                <th>Speciality</th>
                                <th>Address</th>
                                <th>Account Status</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var doctor in Model)
                            {

                                <tr>
                                    <td>@(doctorCount++)</td>
                                    <td>
                                        <h2 class="table-avatar">
                                            @if (doctor.Avatar != null)
                                            {
                                                <a asp-controller="Doctor" asp-action="DetailsDoctor" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src=@(ImageConstants.DOCTORS+doctor.Avatar) alt="User Image"></a>
                                            }
                                            else
                                            {
                                                <a asp-controller="Doctor" asp-action="DetailsDoctor" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src=@Url.Content("~/assets/img/doctors/doctor-thumb-01.jpg") alt="User Image"></a>
                                            }
                                            <a asp-controller="Doctor" asp-action="DetailsDoctor">@doctor.FullName</a>
                                        </h2>
                                    </td>
                                    <td>@doctor.Specialities</td>

                                    <td>@doctor.Address</td>


                                    <td>
                                        <div class="status-toggle">
                                            @if (doctor.IsActive == true)
                                            {
                                                <input type="checkbox" data-accountId="@doctor.AccountId" data-IsActive="@doctor.IsActive" id="status_@doctorCount" class="check" checked>
                                            }
                                            else
                                            {
                                                <input type="checkbox" data-accountId="@doctor.AccountId" data-IsActive="@doctor.IsActive" id="status_@doctorCount" class="check">
                                            }
                                            <label for="status_@doctorCount" class="checktoggle">checkbox</label>
                                        </div>
                                    </td>
                                </tr>
                            }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/ChangeStatusAccount.js"></script>
}


