@model ScheduleViewModel
@using Data
@{
    ViewData["Title"] = "Booking";
    DateTime currentDate = ViewBag.CurrentDate; // currentDate for search
    var Doctor = ViewBag.doctor; // userId of doctor
    var doctorId = ViewBag.doctorId; // doctorId
    var userId = ViewBag.userId; // userId
    var doctorName = ViewBag.doctorName; // doctor fullname

    var currentTime = Convert.ToDateTime(DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss"));
}
<!-- Page Content -->
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-body">
                        <div class="booking-doc-info">
                            <a href="doctor-profile.html" class="booking-doc-img">
                                <img src="~/assets/img/doctors/doctor-thumb-02.jpg" alt="User Image">
                            </a>
                            <div class="booking-info">
                                <h4><a href="doctor-profile.html">Dr. @doctorName </a></h4>
                                @*<div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="d-inline-block average-rating">35</span>
                                </div>
                                <p class="text-muted mb-0"><i class="fas fa-map-marker-alt"></i> Newyork, USA</p>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="alert alert-primary" role="alert">
                    <b>@TempData["StatusMessage"]</b>
                </div>
                <div class="row mb-2">
                    <div class="col-12 col-sm-4 col-md-6">
                        <h4 class="mb-1">@currentDate.ToLongDateString()</h4>
                        <form method="get" asp-controller="Appointment" asp-action="Booking">
                            <input type="text" name="doctor" value="@Doctor" hidden />
                            <input type="text" name="doctorName" value="@doctorName" hidden />
                            <input type="text" name="Id" value="@doctorId" hidden />
                            <input type="date" id="scheduleDate" class="form-control" name="date" value="@currentDate.ToString("yyyy-MM-dd")" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
                            <input type="submit" class="btn btn-secondary" value="Search" />
                        </form>
                    </div>

                </div>
                <!-- Schedule Widget -->
                <form asp-controller="Appointment" asp-action="BookingSummary" method="get">
                    <input type="text" name="TherapistId" value="@doctorId" hidden />
                    <input type="text" name="doctor" value="@Doctor" hidden />
                    <input type="text" name="userId" value="@userId" hidden />
                    <input type="text" name="doctorName" value="@doctorName" hidden />
                    <input type="text" name="date" value="@currentDate" hidden />
                    <div class="card booking-schedule schedule-widget">
                        <!-- Schedule Content -->
                        <div class="schedule-cont">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- Time Slot -->
                                    <div class="time-slot">
                                        @if (Model.ScheduleDoctors.Count > 0)
                                        {
                                            foreach (var shifts in Model.Shifts)
                                            {
                                                foreach (var available in Model.ScheduleDoctors.Where(x => x.ShiftId == shifts.Id))
                                                {
                                                    var timeOfShifts = Convert.ToDateTime(available.Date.ToString("yyyy-MM-dd") + " " + shifts.TimeSlot.Split("-")[0]);
                                                    if (available.IsBooking == true || DateTime.Compare(currentTime, timeOfShifts) > 0)
                                                    {
                                                        <input type="radio" class="btn-check" name="Time" id="@available.ShiftId" autocomplete="off" disabled>
                                                        <label class="btn btn-secondary" for="@available.ShiftId">@shifts.TimeSlot.Split("-")[0].Substring(0, 5)</label>
                                                    }
                                                    else
                                                    {
                                                        <input type="radio" class="btn-check" name="Time" id="@available.ShiftId" value="@shifts.TimeSlot" autocomplete="off" required>
                                                        <label class="btn btn-outline-success" for="@available.ShiftId">@shifts.TimeSlot.Split("-")[0].Substring(0, 5)</label>
                                                    }
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <b>Dr. @doctorName has no appointments on @currentDate.ToLongDateString()</b>
                                        }
                                    </div>
                                    <!-- /Time Slot -->
                                </div>
                            </div>
                        </div>
                        <!-- /Schedule Content -->
                    </div>
                    <!-- /Schedule Widget -->
                    <!-- Submit Section -->
                        <div class="submit-section proceed-btn text-end">
                            <input class="btn btn-primary submit-btn" type="submit" value="Continue" />
                        </div>
                    <!-- /Submit Section -->
                </form>
            </div>
        </div>
<!-- /Page Content -->
